body {
    background-color: #E8F0EF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.3;

    }

    h1 {
    color:#00cc99;
    text-align: center;
    }

    h2 {
    color:#00b386;
    }

    h3 {
        color: #006652;
    }

    .pikku_kuva {
        margin: 5px;
        border: 1px solid black; 
        width: 211px;
        height: 269px;
        float: left;
        box-shadow: 10px 10px 5px grey;
        transform: rotate(-5deg);
    }

    .maisema_kuva {
        margin: 50px;
        margin-bottom: 100px;
        margin-top: 120px;
        border: 1px solid black;
        float: right;
        width: 500px;
        height: 281px;
        box-shadow: 10px 10px 5px grey;
        transform: rotate(3deg);
    }

    .linkit {
        text-align: center;
    }

    a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
    }

    a:visited {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
    }

    a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
    }

    a:active {
    color: mediumseagreen;
    background-color: transparent;
    text-decoration: underline;
    }

    footer {
        text-align: center;
    }

    .container {
        margin: 100px;
        float: left;
        box-sizing: 33%;
        margin-bottom: 150px;
    
    }

    .container2 {
        float: right;
    }

    .container_iso {
        box-sizing: 66%;
        margin-top: 70px;
        margin-bottom: 60px;
        margin-left: 100px;
        margin-right: 100px;
    }

    

    