
/*importoidaan haluttu fontti*/
@import url("https://use.typekit.net/ojv4ekx.css");


/*määritys koskee kaikkia elementtejä*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'europa', serif;
    font-size: 1.2em;
    line-height: 1.3;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
}

.johanna_teksti {
    text-align: center;
    color: black;
    letter-spacing: 0.1em;
    font-weight: 400;
}

h1 {
    color: #087ED9;
    text-align: center;
}

h2 {
    margin-top: 0px;
    color: #055694;
}

h3 {
    font-size: 1.125em;
    color: #055694;
}

.pikku_kuva {
    max-width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.pikku_kuva img {
    border-radius: 50%;
}

.infobox {
    border: 0.5px solid #087ED9;
    padding: 1.875em;
    height: 100%;
    border-radius: 0.625em;
    border-collapse: collapse;
    background-color: white;
}

.osio {
    max-width: 83.33%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.66em;
}

.esittely {
    max-width: 83.33%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.66em;
}

.pikku_teksti {
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    text-align: center;
    padding: 1.25em;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    float: left;
}

.pikku_teksti2 {
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    text-align: center;
    padding: 1.25em;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    float: left;
}

.container {
    background-color:#087ED9;
    padding-bottom: 10em;
    padding-top: 5em;
    color: white;
}

.esittely {
    margin: auto;
    line-height: 1.5;
    text-align: center;
    max-width: 75%;
    font-size: 1.25;
}

.ala_teksti {
    padding-top: 3em;
    text-align: center;
    clear: right;
}

.pikku_teksti2 img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #087ED9;
    color: white;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2.0;
    padding: 2em 0em 10em 0em;
    text-align: center;
    margin-top: 5em;
}

.ala_tiedot {
    opacity: 0.7;
}

i {
    color: #055694;
    font-size: 2em;
}

/*sähköpostilinkin määritykset*/
/* unvisited link */
a:link {
    color:#055694;
}
  
/* visited link */
a:visited {
    color:#087ED9;
}
  
/* mouse over link */
a:hover {
    color: #087ED9;
}
  



/*määritykset responsiivisuutta varten*/

[class*="col-"] {
    float: left;
    padding: 0.9375em;
}

    /* Extra small devices (phones) */
@media (max-width: 767px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}

    #ensimmäinen_teksti {
        margin-top: -25%;
    }
}
  
    /* For tablets: */
@media (max-width: 991px) and (min-width: 768px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    #ensimmäinen_teksti {
        margin-top: -25%;
    }
}
  
    /* For desktop: */
@media (min-width: 992px) {  
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .laatikot {
        display: flex;
    }

    .pikku_teksti {
        margin-top: -10em;
    }
}